interfaces {
    ethernet eth0 {
        address 192.168.0.1/30
        description "to branch"
    }
    ethernet eth1 {
        address 10.1.0.1/20
    }
    ethernet eth2 {
        address 10.1.16.1/20
    }
    ethernet eth3 {
        address 10.1.32.1/20
    }
    ethernet eth4 {
        address 10.1.48.1/20
    }
    ethernet eth5 {
        address 10.1.64.1/20
    }
    ethernet eth6 {
        address 10.1.80.1/20
    }
    ethernet eth7 {
        address 10.1.96.1/20
    }
    ethernet eth8 {
        address 10.1.112.1/20
    }
    ethernet eth9 {
        address 10.1.128.1/20
    }
    ethernet eth10 {
        address 10.1.144.1/20
    }
    ethernet eth11 {
        address 10.1.160.1/20
    }
    ethernet eth12 {
        address 10.1.176.1/20
    }
    ethernet eth13 {
        address 10.1.192.1/20
    }
    ethernet eth14 {
        address 10.1.208.1/20
    }
    ethernet eth15 {
        address 10.1.224.1/20
    }
    ethernet eth16 {
        address 10.1.240.1/20
    }
    loopback lo {
    }
}
policy {
    route-map CONNECT {
        rule 10 {
            action permit
        }
    }
}
protocols {
    ospf {
        area 0 {
            network 10.0.0.0/8
            network 192.168.0.0/24
        }
        default-information {
            originate {
                always
                metric 10
                metric-type 2
            }
        }
        log-adjacency-changes {
        }
        redistribute {
            connected {
                metric-type 2
                route-map CONNECT
            }
        }
    }
}
service {
    ssh {
        port 22
    }
}
system {
    config-management {
        commit-revisions 100
    }
    console {
        device ttyS0 {
            speed 115200
        }
    }
    host-name dc
    login {
        user vyos {
            authentication {
                encrypted-password $6$QxPS.uk6mfo$9QBSo8u1FkH16gMyAVhus6fU3LOzvLR9Z9.82m3tiHFAxTtIkhaZSWssSgzt4v4dGAL8rhVQxTg0oAG9/q11h/
                plaintext-password ""
            }
        }
    }
    ntp {
        server 0.pool.ntp.org {
        }
        server 1.pool.ntp.org {
        }
        server 2.pool.ntp.org {
        }
    }
    syslog {
        global {
            facility all {
                level info
            }
            facility protocols {
                level debug
            }
        }
    }
}
