firewall {
    name DMZ-to-LAN {
        default-action reject
        rule 1 {
            action accept
            destination {
                address 10.1.0.10
                port 6379
            }
            protocol tcp
            tcp {
                flags SYN
            }
        }
    }
    name LAN-to-DMZ {
        default-action reject
    }
    name LAN-to-LOCAL {
        default-action accept
    }
    state-policy {
        established {
            action accept
        }
        invalid {
            action reject
        }
        related {
            action accept
        }
    }
}
interfaces {
    ethernet eth0 {
        address 192.168.0.6/30
        description "to DC"
    }
    ethernet eth1 {
        address 203.0.113.1/24
    }
    loopback lo {
        address 10.0.0.2/32
    }
}
policy {
    route-map CONNECT {
        rule 10 {
            action permit
        }
    }
}
protocols {
    ospf {
        area 0 {
            network 10.0.0.0/8
            network 192.168.0.0/24
            network 203.0.113.0/24
        }
        log-adjacency-changes {
        }
        parameters {
            router-id 10.0.0.2
        }
        redistribute {
            connected {
                metric-type 2
                route-map CONNECT
            }
        }
    }
}
service {
    lldp {
        interface eth0 {
        }
        management-address 10.0.0.2
    }
    ssh {
        port 22
    }
}
system {
    config-management {
        commit-revisions 100
    }
    console {
        device ttyS0 {
            speed 115200
        }
    }
    host-name dmz
    login {
        user vyos {
            authentication {
                encrypted-password $6$QxPS.uk6mfo$9QBSo8u1FkH16gMyAVhus6fU3LOzvLR9Z9.82m3tiHFAxTtIkhaZSWssSgzt4v4dGAL8rhVQxTg0oAG9/q11h/
                plaintext-password ""
            }
        }
    }
    ntp {
        server 0.pool.ntp.org {
        }
        server 1.pool.ntp.org {
        }
        server 2.pool.ntp.org {
        }
    }
    syslog {
        global {
            facility all {
                level info
            }
            facility protocols {
                level debug
            }
        }
    }
}
zone-policy {
    zone DMZ {
        from LAN {
            firewall {
                name LAN-to-DMZ
            }
        }
        interface eth1
    }
    zone LAN {
        from DMZ {
            firewall {
                name DMZ-to-LAN
            }
        }
        interface eth0
    }
    zone LOCAL {
        from LAN {
            firewall {
                name LAN-to-LOCAL
            }
        }
        local-zone
    }
}
