-r requirements.txt
beautifulsoup4==4.5.3
coverage==4.3.4
invoke==0.15.0
py==1.4.33
pytest==3.0.7
pytest-cov==2.4.0
pytest-html==1.13.0    # latest barfing on Travis
pytest-selenium<1.7.0
pytest-variables==1.5.1
requests==2.13.0
selenium<3.0.0
WebTest==2.0.27
