[Unit]
Description=WANmap Fake WAN
Requires=network.target
After=network.target

[Service]
Environment=PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin
Environment=CELERY_PATH=/opt/wanmap/bin/celery
ExecStart=/wanmap/testnet.py
ExecStopPost=/bin/mn -c
Restart=on-failure
