[Unit]
Description=WANmap Console Web Server
Requires=wanmap-task-queue.service
After=wanmap-task-queue.service network.target

[Service]
User=wanmap
Group=wanmap
ExecStart=/opt/wanmap/venv/bin/pserve /opt/wanmap/development.ini --reload
Restart=on-failure
