[Unit]
Description=WANmap Task Queue
Requires=postgresql.service redis.service
After=postgresql.service redis.service network.target

[Service]
User=wanmap
Group=wanmap
ExecStart=/opt/wanmap/bin/celery -A wanmap.tasks worker -l INFO -n console@%h -Q console
Restart=on-failure
