{% extends "layout.jinja2" %}
{% block content %}
<div class="row">
  <h4>Scans</h4>
  <table class="table">
    <thead>
      <tr><th>ID</th><th>Time</th><th>Type</th><th>Parameters</th></tr>
    </thead>
    <tbody>
    {% if scans %}
    {% for scan in scans %}
      <tr>
        <td><a href="{{ request.route_url('show_scan', id=scan.id)  }}">{{ scan.id }}</a></td>
        <td>{{ scan.created_at }}</td>
        {# Scan type should be transparent? #}
        <td>{{ scan._type }}</td>
        <td>{{ scan.parameters }}</td>
      </tr>
    {% endfor %}
    {% else %}
      <tr><td span="4">No scans found.</td></tr>
    {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}
