{% if not standalone %}{% extends "layout.jinja2" %}{% endif %}
{% block content %}
<div class="row">
  {% if scan.type == 'splitting' %}
    {% include 'splitting-scan.jinja2' %}
  {% elif scan.type == 'delta' %}
    {% include 'delta-scan.jinja2' %}
  {% endif %}
</div>
{% if not standalone %}
<script type="text/javascript" charset="utf-8">
(function poll(){
  setTimeout(function(){
    if ($('#scan-status').text() !== 'Completed') {
      $.get(
        "{{ request.route_url('show_scan', id=scan.id, _query={'standalone': 'yes'}) }}",
        null,
        function (html) {
          $('#scan').replaceWith(html);
          poll();
        }
      );
    }
  }, 500);
})();
</script>
{% endif %}
{% endblock content %}
