{% extends "layout.jinja2" %}
{% block content %}
<div class="row">
  <h4>Scans</h4>
  <table class="table">
    <thead>
      <tr><th>Time</th><th>Type</th><th>Owner</th><th>Parameters</th></tr>
    </thead>
    <tbody>
    {% if scans %}
    {% for scan in scans %}
      <tr>
        <td><a href="{{ request.route_url('show_scan', time=scan.created_at)  }}">{{ scan.created_at }}</a></td>
        <td>{{ scan.type }}</td>
        <td>{{ scan.user.name }}</td>
        <td>{{ scan.parameters }}</td>
      </tr>
    {% endfor %}
    {% else %}
      <tr><td span="3">No scans found.</td></tr>
    {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}
