{% extends "layout.jinja2" %}
{% block content %}
<div class="row">
  <h4>Scanners</h4>
  <table class="table">
      <thead><tr><th>Name</th><th>Interface</th></thead>
      <tbody>
    {% if scanners %}
    {% for scanner in scanners %}
        <tr>
          <td>{{ scanner.name }}</td>
          <td>{{ scanner.interface }}</td>
        </tr>
    {% endfor %}
    {% else %}
      <tr><td span="2">No scanners found.</td></tr>
    {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}
