<h2>Splitting Scan</h2>
<h4>Parameters: {{ scan.parameters }}</h4>
<table class="table">
  <tbody>
  {% for host in scan.aggregate %}
  <tr>
    {% if host.services %}
      {% for service in host.services %}
    <td>{{ host.id }}</td>
    <td>{{ service.protocol }} {{ service.port }} {{ service.status }}</td>
    <td>{{ service.scripts_results }}</td>
      {% endfor %}
    {% else %}
    <td>{{ host.id }}</td>
    <td>-</td>
    <td>-</td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
