{% extends "layout.jinja2" %}
{% block content %}
<div class="row">
  <h4>Users</h4>
  <table class="table">
    <thead><tr><th>Name</th></tr></thead>
    <tbody>
    {% if users %}
    {% for user in users %}
      <tr tal:repeat="user users">
        <td><a href="{{ request.route_url('show_user', name=user.name) }}" />{{ user.name }}</td>
      </tr>
    {% endfor %}
    {% else %}
      <tr><td span="3">No users found.</td></tr>
    {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}
